mat-form-field {
    width: 100%;
}

mat-drawer-container {
    background: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #343a40;
}



td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;  
}

td:hover {
  white-space: normal;
  overflow: visible;
}

.cell-content {
  display: inline-block;
  max-width: 180px;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell-content:hover {
  white-space: normal;
  overflow: visible;
}
